<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="Cnxn" value="Server=localhost\SQLExpress;Database=Lesson2;Integrated Security=sspi;"/>
    <add key="CnxnSql" value="Server=localhost\SQLExpress;Database=Lesson2;uid=username;pwd=password;"/>
    <add key="LogPath" value="C:/Users/leera/OneDrive/Documents/Visual Studio 2017/Projects/School1/Lesson2;"/>
  </appSettings>
</configuration>
