<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
      <add key="Cnxn" value="Server=localhost\SQLExpress;Database=School1;Integrated Security=sspi;"/>
      <add key="CnxnSql" value="Server=localhost\SQLExpress;Database=School1;uid=username;pwd=password;"/>
    </appSettings>
</configuration>
