body {
    background-image: url('../media/cork-wallet.png');
    background-repeat: repeat;
    background-color: black;
}

.grid {
    background-color: white;
}

.calendar {
    background-color: white;
}

.calendar-box {
    margin-left: 64px;
}
