body {
    background-image: url('../media/cork-wallet.png');
    background-repeat: repeat;
}

.grid {
    background-color: white;
}

.calendar {
    background-color: white;
}

.jumbotron {
    background-image: url('../media/pink dust.png');
    background-repeat: repeat;
}

.jumbotron h1,
.jumbotron .h1 {
    color: white;
}